body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    color: white;
}

.card {
    background: #111;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    width: 400px;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

input[type=file] {
    color: white;
}

button {
    padding: 10px 25px;
    border: none;
    border-radius: 8px;
    background: #ff9800;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #ffc107;
}

img {
    margin-top: 10px;
    border-radius: 10px;
}
